@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@200&display=swap');
body{
    margin: 0px 0px;
    font-family: 'Kodchasan', sans-serif;
    color: white;
    background-color: #EBE9E9;
}

form{
    background-color: #3581B8;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 80px 200px;
    padding: 200px;
    border-radius: 40px;
    font-size: larger;
}

button{
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    font-family: 'Kodchasan', sans-serif;
    font-size: large;
}