@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@200&display=swap');

body{
    margin: 0px 0px;
    font-family: 'Kodchasan', sans-serif;
    background-image: url(../img/fond-contact.jpg);
    background-size: cover;
}

a{
    text-decoration: none;
    color: grey;
}

.navbar{
    word-spacing: 15px;
    padding-right: 2%;
}

nav>a>img{
    width: 60%;
    max-width: 100px;
}

nav{
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.883);
}

.droite-nav{
    margin-left: auto;
}

h1{
    text-align: center;
    padding: 5%;
    color: white;
    
}

.bloc-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    padding: 15px;
    margin: 10px;
    background-color: #ffffffc2;
    color: rgb(0, 0, 0) !important;
    border: none;
    border-radius: 5px;
}

textarea{
    background-color: #ffffff;;
    color: rgb(0, 0, 0) !important;
    border: none;
    border-radius: 5px;
}

textarea{
    padding: 13px;
    min-height: 100px;
    width: 100%;
    max-width: 380px;
}

p{
    text-shadow: 0 0 5px black;
    text-align: center;
    color: white;
    font-size: large;
}

/* Css au survol de la classe bouton */
.boutton:hover{
    background-color: black;
    color: white !important;
    cursor: pointer;
    transition: all 200ms ease;
}

.boutton{
    transition: all 200ms ease;
}